<home>
    <button
        typ="highlight"
        name="search"
        text="search_subtitle"
        icon="search"
        link="/#/search"
    />
    <button
        typ="highlight"
        name="user"
        text="List of Users"
        icon="employee"
        link="/#/search?query[models][0]=user"
    />
    <button
        typ="highlight"
        name="role"
        text="List of Roles"
        icon="role"
        link="/#/search?query[models][0]=role"
    />
    <button
        typ="highlight"
        name="right"
        text="List of Rights"
        icon="key"
        link="/#/search?query[models][0]=right"
    />
    <button
        typ="highlight"
        name="station"
        text="Stations Tree View"
        icon="official-service"
        link="/#/search?query[models][0]=station&view=Tree"
    />
    <button
        typ="highlight"
        name="files"
        text="List of Files"
        icon="attachment-zip-file"
        link="/#/search?query[models][0]=file"
    />
</home>
